/* Fonts import from Google*/
/* Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

/* Fonts From the folder */

@font-face {
	font-family: "beermoney";
	src: url("../fonts/beermoney.woff2") format("woff2"), url("../fonts/beermoney.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}


/*! CSS General styles*/
/* Article from OnlineCourse */
body {
	font-family: "Lato", sans-serif;
}
.black {
	color: #1E212C;
}
.more-style {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
}

/* !header END */
.header {
	display: none;
}
/* !main */

.main-container {
	max-width: 810px;
	margin-left: 345px;
	font-size: 16px; /* Н-Надежность, а то вдруг в браузере другое значение.*/
	line-height: 1.625;
	color: #424551;
}
.main-title {
	margin-bottom: 88px;
	font-size: 46px;
	line-height: 1.3;
	font-weight: 900;	
}
.main-container > img { 
	margin-bottom: 60px;
	border-radius: 4px; 
}
.text-bold {
	margin-bottom: 24px;
}
.text-bold + p {
	margin-bottom: 48px;
}
.quote {
	margin-bottom: 48px;
	padding-left: 58px;
}
.quote + p {
	margin-bottom: 24px;
}
.main-list {
	margin-bottom: 24px; 
}
.list-item {
	margin-bottom: 4px; /* На последнем пункте схлопнутся должен. */
	padding-left: 32px;
}
.main-list + p {
	margin-bottom: 65.5px;
}
/* Article from OnlineCourse END */
.training {
	font-family: "beermoney", serif;
}
.minmax {
	min-width: 750px;
	max-width: 900px;
	padding: 40px;
}

.overflow-auto {
	margin: 10px auto;
	overflow: auto;
	width: 450px;
	height: 370px;
	background-color: #0f1365d3;
	outline: 5px dotted #5466aa;
	border-radius: 21% 79% 34% 66% / 71% 46% 54% 29%;
	box-shadow: 42px 24px 37px 15px rgba(18, 109, 179, 0.779), inset 0px 0px 78px 44px rgba(45, 137, 34, 0.2);
	opacity: 0.48;
}
/* TODO странное повежение блока
	*Решение: Если плавно тянуть width: текст который вылазит за бордер будет пропадать, при значение 462 выглядит отлично,
	*просто оствлю на всякий случай это здесь */
.overflow-hidden {
	margin: 0 auto;
	overflow: hidden;
	width: 450px;
	height: 370px;
	background-color: #1eb55dd3;
	border: 15px solid #5466aa;
	border-radius: 100% 0% 89% 11% / 100% 15% 85% 0%;
	box-shadow: -20px 12px 0px 15px rgba(18, 109, 179, 0.78), inset 20px -17px 7px 8px rgba(45, 137, 34, 0.20);
	opacity: 0.77;
}

.overflow-scroll {
	margin: 40px auto;
	overflow: scroll;
	width: 450px;
	height: 370px;
	background-color: #04251293;
	border: 15px dashed #202c51;
	border-top: none;
	border-radius: 7% 93% 100% 0% / 9% 0% 100% 91%;
	box-shadow: 42px 24px 37px 15px rgba(46, 73, 95, 0.779), inset 0px 0px 78px 44px rgba(45, 137, 34, 0.2);
	opacity: 0.77;
}

.visibility {
	visibility: hidden;
}

.display-block {
	display: block;
	max-height: 5px;
}
.display-inline-block {
	display: inline-block;
	padding: 40px 10px 30px 5px;
	min-height: 170px;
	font-size: 20px;
	border-left: 10px solid #8e0b0b;
}
.display-inline {
	display: inline;
	font-size: 15px;
	line-height: 2;
	border-bottom: 2px dotted #00ff00;
}







/* !main END  */


/* !footer */

.footer-container {
	visibility: hidden;
}

/* !footer END */